Source: elegant
Section: contrib/admin
Priority: extra
Maintainer: Guobao Shen <shengb@bnl.gov>
Build-Depends: debhelper (>= 7.0.50~), epics-debhelper (>= 6~),
               epics-extensions-dev (>= 20091204.1),
               sdds-dev (>=2.11-1), libgsl0-dev,
               zlib1g-dev, liblapack-dev, gfortran, libgfortran3, 
Standards-Version: 3.8.0
Homepage: http://www.aps.anl.gov/Accelerator_Systems_Division/Operations_Analysis/software.shtml

Package: elegant
Architecture: any
Depends: ${shlibs:Depends}, ${misc:Depends},
         tcsh | csh | c-shell,
Conflicts: elegant-util, liboagphy22.1
Replaces: elegant-util
Provides: elegant-util
Description: ELEctron Generation ANd Tracking package
 Elegant stands for "ELEctron Generation ANd Tracking", a somewhat 
 out-of-date description of a fully 6D accelerator program that 
 now does much more than generate particle distributions and track
 them. elegant, written entirely in the C programming language, 
 uses a variant of the MAD input format to describe accelerators, 
 which may be either transport lines, circular machines, or a 
 combination thereof. Program execution is driven by commands in a 
 namelist format.

Package: elegant-doc
Section: contrib/doc
Architecture: all
Description: Documentation for elegant
 Elegant stands for "ELEctron Generation ANd Tracking", a somewhat 
 out-of-date description of a fully 6D accelerator program that 
 now does much more than generate particle distributions and track
 them. elegant, written entirely in the C programming language, 
 uses a variant of the MAD input format to describe accelerators, 
 which may be either transport lines, circular machines, or a 
 combination thereof. Program execution is driven by commands in a 
 namelist format.
 .
 Documentation package
