#!/usr/bin/make -f
# -*- makefile -*-

include /usr/share/cdbs/1/rules/debhelper.mk
include /usr/share/cdbs/1/class/makefile.mk
include /usr/share/cdbs/1/rules/utils.mk

EPICS_HOST_ARCH:=$(shell /usr/epics/base/startup/EpicsHostArch)

# chop out the source version from Changelog (ie 1.12.20)
SOV=$(shell echo "$(DEB_NOEPOCH_VERSION)"| cut -f 1 -d '-')

ENV=EPICS_HOST_ARCH=$(EPICS_HOST_ARCH)

DEB_MAKE_ENVVARS = PATH="$(CURDIR)/oag/apps/bin/$(EPICS_HOST_ARCH):$$PATH" \
LD_LIBRARY_PATH="$(CURDIR)/oag/apps/lib/$(EPICS_HOST_ARCH):$$LD_LIBRARY_PATH"

DEB_MAKE_MAKEVARS = EPICS_HOST_ARCH=$(EPICS_HOST_ARCH) USE_RPATH=NO \
SHRLIB_VERSION=$(SOV) ABS_INSTALL_DIR=/usr/epics/base

# Prevent CFLAGS and similar from being passed to EPICS since
# this will break cross-builds of things.
DEB_MAKE_INVOKE  = $(DEB_MAKE_ENVVARS) $(MAKE) -C $(DEB_BUILDDIR) $(DEB_MAKE_MAKEVARS)

DEB_BUILDDIR=oag/apps/src/

post-patches:: ./oag/apps/configure

./oag/apps/configure:
	ln -s /usr/epics/extensions/configure ./oag/apps/

move-src: move-src-stamp

clean::
	rm -f move-src-stamp

DEB_MAKE_CLEAN_TARGET =
DEB_MAKE_BUILD_TARGET = all
DEB_MAKE_INSTALL_TARGET = all INSTALL_LOCATION=$(CURDIR)/debian/tmp/usr/epics/base
DEB_MAKE_CHECK_TARGET =

# Build Rules

binbuild=$(CURDIR)/oag/apps/bin/$(EPICS_HOST_ARCH)
libbuild=$(CURDIR)/oag/apps/lib/$(EPICS_HOST_ARCH)

clean::
	rm -f ./oag/apps/configure
	rm -rf ./oag/apps/bin ./oag/apps/include ./oag/apps/lib
	find . -name 'O.*' -type d|xargs rm -rf

# Install Rules

instroot=$(CURDIR)/debian/tmp
bindir=$(instroot)/usr/bin
libdir=$(instroot)/usr/lib
datadir=$(instroot)/usr/share/elegant
docdir=$(instroot)/usr/share/doc/elegant

epicsroot=$(instroot)/usr/epics/base
epicslibs=$(epicsroot)/lib/$(EPICS_HOST_ARCH)
epicsbins=$(epicsroot)/bin/$(EPICS_HOST_ARCH)

install/liboagphy22.1::
	install -d $(datadir)
	install -d $(libdir)
	install -d $(docdir)
	install -d $(epicslibs)

	# Basic libraries go in /usr/epics/base/lib
	for ff in $(epicslibs)/*.so;do \
		mv $$ff.$(SOV) $(libdir)/; \
		rm -f $$ff; \
		ln -s ../../../../lib/`basename $$ff`.$(SOV) $$ff; \
	done

install/elegant-util::
	install -d $(bindir)
	install -d $(datadir)
	install -d $(docdir)
	install -d $(epicsbins)

	# Basic commands go in /usr/bin
	for ff in $(epicsbins)/*;do \
		ln -s ../epics/base/bin/$(EPICS_HOST_ARCH)/`basename $$ff` $(bindir)/`basename $$ff`; \
	done
