#!/usr/bin/make -f
# -*- makefile -*-

export DH_VERBOSE=1

override_dh_auto_test:

EPICS_HOST_ARCH:=$(shell /usr/lib/epics/startup/EpicsHostArch)

# Disable debug build
export CROSS_COMPILER_TARGET_ARCHS:=$(EPICS_HOST_ARCH)

# chop out the source version from Changelog (ie 1.12.20)
SOV=$(shell echo "$(DEB_NOEPOCH_VERSION)"| cut -f 1 -d '-')

ENV=EPICS_HOST_ARCH=$(EPICS_HOST_ARCH)

export PATH:="$(CURDIR)/apps/bin/$(EPICS_HOST_ARCH):$(PATH)"

export LD_LIBRARY_PATH:="$(CURDIR)/apps/lib/$(EPICS_HOST_ARCH):$(LD_LIBRARY_PATH)"

binary binary-arch binary-indep build install clean:
	dh $@ --with epics -Sepicsmake
install: build
binary-arch binary-indep: install
binary: binary-arch binary-indep

override_dh_auto_build:
	[ -d ./apps/configure ] || ln -s /usr/lib/epics/extensions/configure ./apps/
	dh_auto_build -- -C apps/src all

override_dh_auto_install:
	dh_auto_install -- -C apps/src install

	install -d debian/tmp/usr/bin

	# Basic commands go in /usr/bin
	for ff in debian/tmp/usr/lib/epics/bin/$(EPICS_HOST_ARCH)/*;do \
		install -m 755 $$ff debian/tmp/usr/bin/`basename $$ff`; \
	done

override_dh_auto_clean:
	rm -f move-src-stamp
	rm -f ./apps/configure
	rm -rf ./apps/bin ./apps/include ./apps/lib
	find . -name 'O.*' -type d|xargs rm -rf
